{% extends 'base.html.twig' %}

{% block title %} Categorie{% endblock %}
{%  dump categories %}
{% block body %}


    <div class="container mx-[4%] max-w-none md:mx-[10%] lg:mx-[16%] w-auto mt-12 font-Asap text-gray-dark text-app-l leading-normal ">
        <div class="fil-ariane block text-app-xs mb-24 ">
            <a  href="{{ path('app_homepage') }}"  class="hover:text-[#0085ba] cursor-pointer">
                {{ app_title }}
            </a> > Catégories
        </div>



        <div class="presentation mb-16">
            <h1 class="text-4xl  uppercase font-bold  pb-[2.5rem]"> Nos differentes Categories  </h1>
            <div class="leading-[2rem]">
                <ul>
                {% for category in categories %}
                    <li class="pb-[0.5rem] lg:pb-[0rem]"> <a href="#"> {{ category.name }} </a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
