header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gris;
  padding: 0 1em;
  div.wrapper-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $maxWidth;
    a.logo{
      width: 100%;
      max-width: 250px;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    nav{
      ul{
        display: flex;
        align-items: center;
        justify-content: center;
        li{
          &.login{
            margin-left: 2em;
            a{
              background-color: $mainColor;
              padding: .5em 2em;
              color: $blanc;
              border-radius: 100px;
              display: flex;
              align-items: center;
              gap: 1em;
              font-weight: 500;
              &:hover, &:focus{
                transition: all ease-in 150ms;
                background-color: lighten($mainColor, 5);
              }
            }
          }
          &.sub-menu-parent{
            position: relative;
            a{

            }
            ul.sub-menu{
              position: absolute;
              top: 100%;
              left: 0;
              width: 200px;
              //display: none;
              flex-direction: column;
              justify-content: flex-start;
              background-color: darken($gris, 10);
              transform: translateY(10px);
              visibility: hidden;
              opacity: 0;
              //box-sizing: border-box;
              li.sub-menu-item{
                width: 100%;
                //box-sizing: border-box;
                a{
                  width: 100%;
                  box-sizing: border-box;
                  &:hover, &:focus{
                    transition: all ease-in 150ms;
                    background-color: $mainColor;
                  }
                }
              }
            }
            &:hover, &:focus, &:focus-within{
              a{
                background-color: darken($gris, 10);
              }
              ul.sub-menu{
                transition: all ease-in 150ms;
                //display: flex;
                visibility: visible;
                opacity: 1;
                transform: translateY(0px);
              }
            }
          }
          a{
            color: $blanc;
            text-decoration: none;
            display: block;
            padding: 2em 1em;
            &:hover, &:focus{
              transition: all ease-in 150ms;
              background-color: darken($gris, 10);
            }
          }
        }
      }
    }
  }
}