/*
strong{
  font-weight: 500;
}
em{
  font-style: italic;
}
u{
  text-decoration: underline;
}
s{
  text-decoration: grammar-error;
}
blockquote{

}
pre{

}
h1{
  font-size: 2em;
  font-weight: 500;
}
h2{
  font-size: 1.5em;
  font-weight: 500;
}
h3{
  color: $mainColor;
  font-weight: 500;
}
ul{
  li{

  }
}
ol{
  li{

  }
}
*/