// Colors
$blanc : #ffffff;
$noir : #000000;
$gris : #23282d;
$mainColor : #0085ba;

// Fonts
$displayFont : 'Inter', sans-serif;
$mainFont : 'Open Sans', sans-serif;

// Others
$maxWidth : 1080px;
$borderRadius : 4px;