{% extends 'base.html.twig' %}

{% block title %}Le blog juste pour faire des phrases{% endblock %}

{% block body %}
    <section class="displayNone">
        <div class="wrapper-section">
            <div id="toolbar">

            </div>
            <div id="editor">

            </div>
        </div>
    </section>
{% endblock %}