<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SentencePress | {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png"  href="{{ asset('assets/images/logos/logo-sentencepress-long-blanc.svg') }}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet"   href="{{ asset('assets/styles/styles.css') }}">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
    {% include 'header.html.twig' %}
    {% block body %}{% endblock %}
    {% include 'footer.html.twig' %}
    </body>
</html>