<footer>
    <div class="wrapper-footer">
        <div class="copyright">
            <a href="https://www.linkedin.com/in/clemence-larrouy" title="LinkedIn de Clémence Larrouy">Clémence Larrouy</a>
            <a href="https://www.linkedin.com/in/elisa-bourg" title="LinkedIn de Elisa Bourg">Elisa Bourg</a>
            <a href="https://www.linkedin.com/in/florian-vander-put" title="LinkedIn de Florian Van der Put">Florian Van der Put</a>
        </div>
    </div>
</footer>